i.icon.fa-angle-right.fa-fw{
    position: relative;
    left:70px;
    top:2px;
}

a{
    cursor: pointer;
    border-bottom: none;
}

a:hover,
a:focus {
    text-decoration: none;
}

body{
    font-family: 'Lato', sans-serif;
}

#nav{
    color: #fff;
    height: 88px;
    padding: 2em 0 1.5em 0;
    background-image: url(./images/Navbar.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
}

#nav ul{
    line-height: 0.1em;
    border-left: none;
    border-right:none;
}
#nav ul:before{
    border-top: none;
    border-bottom: none;
}

#nav ul:after{
    border-top: none;
    border-bottom: none;
}

#nav ul li.opener.active.ul{
    margin: 0px;
    z-index: 2;
}

.titulo h2{
    color: #1A7E45 !important;
    font-size: 2.85em;
    margin: 0;
}

.titulo {
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 400;
    color: #1A7E45;
}

#footer{
    padding: 1em 2em 2em 2em;
    background: url(../images/Footer.png) no-repeat;
    background-size: cover;
    position: static;
}

.carousel .backward:before, .carousel .forward:before{
    background-color: #1A7E45;
    opacity: 0.7;
}

.button{
    background:#1A7E45;
}

h3.subtitle {
    margin: 1em 0 0 0;
    font-weight: 100;
    font-style: italic;
    color: #999999;
    font-size: 1.1em;
}

h4 {
    font-size: 1.1em;
}

.text.left {
    float: left;
    margin: 0 2em 2em 0;
}

.carousel .forward:hover:before, .carousel .backward:hover:before {
    background-color: rgb(128, 182, 65);
}

.carousel article {
    width: auto!important;
    margin: 0 1.3em 0 0!important;
    padding: 0 0 0 0!important;
}

.carousel .reel {
    padding: 0 0 0 0!important;
}

.carousel{
    margin-top: 40px!important;
}

.circular {
    border-radius: 50%;
    overflow: hidden;
    width: 200px;
    height: 200px;
}

.circular img{
    display: block;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
}

.contact{
    margin-bottom: 30px;
}

.youtube-container { display: block; margin: 0px auto; width: 100%; max-width: 600px; }
.youtube-player { display: block; width: 100%; overflow: hidden; position: relative; height: 27em; cursor: pointer;}
img.youtube-thumb { bottom: 0; display: block; left: 0; margin: auto; max-width: 100%; width: 100%; position: absolute; right: 0; top: 0; height: 30em}
div.play-button { height: 72px; width: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; position: absolute; background: url("http://i.imgur.com/TxzC70f.png") no-repeat; }
#youtube-iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; }

.logo{
    opacity: 1;
    max-width: 100%;
    height: auto;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.pdf-wrapper {
    position: relative;
    padding-bottom: 125%; /* Letter */
    padding-top: 25px;
    height: 0;
}
.pdf-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wrapper{
    padding: 3em 0 6em 0;
    margin-bottom: 0;
}

.container.special{
    padding-left: 15%;
    padding-right: 15%;
}

.imgcentrada.patro1, .imgcentrada.patro{
    margin: 0;
    opacity: 0.8;
    padding: 0 0 0 0;
    width: 100%;
}

.row{
    /*margin: 0;*/
}

p.patro3{
    padding-top: 0 !important;
}

.contenido{
    /*margin-top: 5%;*/
}

.wrapper.news{
    padding: 1em 0 0 0;
    margin-bottom: 0;
}

hr{
    margin-bottom: 4em !important;
    top: 3em;
}

article.special{
    text-align: justify;
}

#redes{
    margin-left: 9%;
    margin-right: 9%;
}

.green-circle {
    display: inline-block;
    border-radius: 100%;
    width: 4.5em;
    height: 4.5em;
    line-height: 4.5em;
    text-align: center;
    font-size: 1.25em;
    padding: 0;
    background:#1A7E45;
    margin-bottom: 1em;
}

.green-circle i {
    margin-top: 23px;
}

#header{
    background: url(../images/header.jpg) no-repeat;
}

.lang_picker{
    width: 1.5em;
}

.carousel-img{
    height: 20em;
    overflow: hidden;
}

#fb{
    opacity: 0.9;
    max-height: 400px;
    top: -5px;
}
.twitter-timeline{
    opacity: 0.9;
    top: 0%;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.logoAndes{
    width: 8em;
    height: 8em;
    left: 50%;
}

.picAndes{
    width: 100%;
    height: auto;
    max-width: 100%;
}

#sociales{
    background: transparent url('../images/what.jpg') no-repeat center center fixed;
    background-size: cover;
}

.what{
    padding: 10em 0 10em 0;
    background: transparent url(../images/16-2.jpg) no-repeat center center fixed;
    background-size: cover;
}

.who{
    padding: 10em 0 10em 0;
    background: transparent url(../images/who.jpg) no-repeat center center fixed;
    background-size: cover;
}

.video_main{
    background: transparent url(../images/17.jpg) no-repeat center center fixed;
    background-size: cover;
}

.main_text{
    color: #FFFFFF;
    font-size: 1.05em;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: static;
    /*top: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
}

.head_main{
    text-shadow: 2px 2px 2px black;
}

.yt_video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.yt_container{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
}

.media_subtext{
    text-align: center;
    font-size: 2em;
}

.list_indent{
    padding-left: 2em;
}