i.icon.fa-angle-right.fa-fw{
    position: relative;
    left:70px;
    top:2px;
}

a{
    cursor: pointer;
}

body{
    font-family: 'Lato', sans-serif;
}

#nav{
    background-color: rgb(128,182,65);
    color: #fff;
}