i.icon.fa-angle-right.fa-fw{
    position: relative;
    left:70px;
    top:2px;
}

a{
    cursor: pointer;
}

body{
    font-family: 'Lato', sans-serif;
}

#nav{
    background: rgb(128, 182, 65) url(./images/Navbar.png);
    color: #fff;
    height: 88px;
    padding: 2em 0 1.5em 0;
}

#nav ul{
    line-height: 0.1em;
    border-left: none;
    border-right:none;
}
#nav ul:before{
    border-top: none;
    border-bottom: none;
}

#nav ul:after{
    border-top: none;
    border-bottom: none;
}

#nav ul li.opener.active.ul{
    margin: 0px;
    z-index: 2;
}
#titulo{
    margin-top: 50px;
    text-align: center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-weight: 700;
}
#titulo h2{
    color: #1A7E45 !important;
}

#footer{
    background-color: #1D4C24;
}

.carousel .backward:before, .carousel .forward:before{
    background-color: #1A7E45;
    opacity: 0.7;
}

.button{
    background:#1A7E45;
}

#parrafo{
    margin: 50px;
}

#parrafo p{
    text-align: center;
}

h3#subtitle {
    margin: 1em 0 2em 0;
}

h4 {
    font-size: 1.1em;
}

.text.left {
    float: left;
    margin: 0 2em 2em 0;
}

.carousel .forward:hover:before, .carousel .backward:hover:before {
    background-color: rgb(128, 182, 65);
}

.carousel article {
    width: auto!important;
    margin: 0 1.3em 0 0!important;
    padding: 0 0 0 0!important;
}

.carousel .reel {
    padding: 0 0 0 0!important;
}

.carousel{
    margin-top: 40px!important;
}